body {
  background-image: url("https://i.postimg.cc/9QrPCsyD/d8foswh-1d3d414c-be37-420d-bfcc-4f7e4554f3ab.png");
  background-position:justify;
  background-size: cover;
  margin: 0px;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
